<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <title>Test</title>
</head>

<body>
    <header>
        <div class="">Logo</div>
        <div class="">navigation</div>
    </header>

    <main>
        <section>
            <form>
                <input id="name" type="text" name="input" value="" onfocus="this.value=''" placeholder="Enter URL .." />
                <button type="submit" onclick="return Client.handleSubmit(event)">submit</button>
            </form>
        </section>

        <section>
            <div id="results" class="hide">
                <h2>Analysis of the article:</h2>
                <div class="result-entry">
                    <div class="results-header">Analysis</div>
                    <div class="results-header">Description</div>
                </div>

                <div class="result-entry">
                    <div id="score" class="result"></div>
                    <div id="score-description" class="result"></div>
                </div>

                <div class="result-entry">
                    <div id="agreement" class="result"></div>
                    <div id="agreement-description" class="result"></div>
                </div>

                <div class="result-entry">
                    <div id="subjectivity" class="result"></div>
                    <div id="subjectivity-description" class="result"></div>
                </div>

                <div class="result-entry">
                    <div id="confidence" class="result"></div>
                    <div id="confidence-description" class="result"></div>
                </div>

                <div class="result-entry">
                    <div id="irony" class="result"></div>
                    <div id="irony-description" class="result"></div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <p>This is a footer</p>
    </footer>

    <script>
        // Check that service workers are supported
        if ("serviceWorker" in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener("load", () => {
                navigator.serviceWorker.register("/service-worker.js");
            });
        }
    </script>
</body>

</html>